html {
	color-scheme: light dark;
	font-family: system-ui;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

button {
	display: inline-block;
	height: 32px;
	padding: 0 1rem;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: pointer;
}
